
svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#paper{
  pointer-events: none; 
}

body { 
  overflow: hidden;
}

.background{
    z-index: -1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/site/templates/images/front-page/background.jpg") no-repeat right bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

//overlay to prevent mouse clicks during animation
.blockingDiv{
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}


.plank-sprites{
    z-index: 3;
}

.wl-sprites{
    z-index: -3;
}

#backarrow{
    pointer-events: bounding-box;
}

.shadow{
  position: relative;
  height: 100%;
  z-index: -1;
  -webkit-filter: blur(1px); 
  filter:  blur(1px);
  opacity: 0.70;
  -ms-transform-origin: 50% 0; /* IE 9 */
  -webkit-transform-origin: 50% 0; /* Chrome, Safari, Opera */
  transform-origin: 50% 0;
}


.gourd, .gourd1{
    -ms-transform-origin: 60% 9px; /* IE 9 */
    -webkit-transform-origin: 60% 9px; /* Chrome, Safari, Opera */
    transform-origin: 60% 9px;
}

.gourd{
    z-index: 2;
}

.silk{
    z-index: 1;
}

.staff{
    -ms-transform-origin: 75% 50%; /* IE 9 */
    -webkit-transform-origin: 75% 50%; /* Chrome, Safari, Opera */
    transform-origin: 75% 50%;
}

.staff-shadow{
  bottom: -10%;
  height: 100%;
  width: 100%;
  background-size: contain !important;
}

.bucket-shadow{
  bottom: -90%;
  width: 100%;
  background-size: contain !important;
}

.inkwell-shadow{
  bottom: -97%;
  width: 70%;
  left: 15%;
}

.brushholder-shadow{
  bottom: -97%;
  width: 80%;
  left: 10%;
}
.floorgourd-wrapper{
  transform-origin: 0% 100%;
}

.floorgourd-shadow{
  bottom: -93%;
  width: 100%;
  left: -4%;
  background-size: contain !important;
}

.goose-wrapper{
  //z-index: 1;
  -ms-transform-origin: 50% 100%; /* IE 9 */
  -webkit-transform-origin: 50% 100%; /* Chrome, Safari, Opera */
  transform-origin: 50% 100%;
}

.goose{
  position: relative;
  top: 0;
  left: 0;
  -ms-transform-origin: 50% 100%; /* IE 9 */
  -webkit-transform-origin: 50% 100%; /* Chrome, Safari, Opera */
  transform-origin: 50% 100%;
}

.goose-shadow{
  width: 100%;
  -ms-transform-origin: 50% 11%; /* IE 9 */
  -webkit-transform-origin: 50% 11%; /* Chrome, Safari, Opera */
  transform-origin: 50% 11%;
  display: none;
}


.boat-wrapper
{
  -webkit-clip-path: url(#boatClip);
  clip-path: url(#boatClip);
}

.boat{
   transform-origin: 0% 100%;
}

.cloud1, .cloud2, .cloud3{
  position: absolute;
  z-index: -100;
  -webkit-filter:  opacity(70%) blur(1px); 
  filter: blur(1px);
  opacity: 0.75;
}

.silk-link, .silk1-link{
  position: relative;
  display: block;
  margin-left: 31%;
  margin-top: 2%;
  height: 95%;
  width: 25%;
}