//include styles for photobox plugin
@import "photobox";

body { 
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  z-index: -9999;
}

#background{
    z-index: -1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

#padInfo{
  position: absolute;
  left: 20%;
  top: 10%;
  transform: skew(-25deg) rotateZ(6deg) rotateX(45deg);
}

.avoidClicks {
  pointer-events: none;
}

#line{
	position: absolute;
	left: 0;
	height: 0;
	transform-origin: 0;
	width: 150%;
	border-top: 1px solid rgba(0, 0, 0, 1);
	z-index: -100;
	display: none;
}

#silk, #silk1, #dress, #scarf{
   z-index: 1;
}
#silkTrigger, #silk1Trigger{
  position: relative;
  //display: block;
  margin-left: 31%;
  margin-top: 2%;
  height: 95%;
  width: 25%;
}

#staff{
  display: none;
}

#gourd, #gourd1{
  z-index: 2;
  -ms-transform-origin: 60% 8px; /* IE 9 */
    -webkit-transform-origin: 60% 8px; /* Chrome, Safari, Opera */
    transform-origin: 60% 8px;
}

#clouds > div {
  z-index: -150;
  -webkit-filter:  opacity(90%) blur(0.8px); 
  filter: blur(0.8px);
  opacity: 0.85;
}

#boatWrapper{
  -webkit-clip-path: url(#boatClip);
  clip-path: url(#boatClip);
}

#boat{
  transform-origin: 50% 100%;
  z-index: -10;
}

#staff{
  transform-origin: 50% 50%;
}

.sprite{
  display: none;
}

.shadow{
	height: 100%;
  position: relative;
  z-index: -1;
  -webkit-filter: blur(1px); 
  filter:  blur(1px);
  opacity: 0.70;
  -ms-transform-origin: 50% 0; /* IE 9 */
  -webkit-transform-origin: 50% 0; /* Chrome, Safari, Opera */
  transform-origin: 50% 0;
  transform: skew(25deg);
}

#sheet{
  z-index: 1;
}

.sheetContents{
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  height: 65%;
  margin-left: 10%;
  margin-top: 10%;
}

#overlayLeft{
  left: 0;
  background-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  opacity: 0;
}

#overlayRight{
  right: 0;
  background-image: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  opacity: 0;
}

.overlay{
  pointer-events: none;
  position: absolute;
  top: 0;
  margin: 0;
  width: 15%;
  height: 100%;
  z-index: 9999;
}
